.nav-bar {
    display: flex;
    background-color: rgb(68, 100, 162);
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    font-family: "San Francisco", sans-serif;
    color: white;
    height: 42px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.options {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.icon {
    padding-right: 10px;
    padding-left: 10px;
}

.fa {
    color: rgb(99, 107, 121);
    padding-left: 5px;
    background: white;
    margin: 0px 0px -2px 0px;
}

.search-field {
    color: gray;
}

.stuff {
    padding-right: 40px;
}

.profile {
    padding-top: 30px;
}

.feed {
    border: 1px solid black;
}

.create-a-post {
    margin-left: -50px;
    padding-top: 1px;
}

.photo-video-album {
    margin-left: -50px;
}

.live-video {
    margin-left: -10px;
}

.post-message {
    margin-left: -30px;
}

.photo-video {
    margin-left: -35px;
}

.feeling-activity {
    margin-left: -30px;
}

.dots {
    padding-top: 8px;
    margin-left: -15px;
}